---
import * as Icons from "@/components/icons";
import { LinkButton } from "@/components/link/link-button";
import links from "@/public/links.json";
---

<div class='flex flex-col max-w-sm w-full p-4 gap-4'>
  {
    links.some((link) => !link.primary) && (
      <div class='flex flex-col gap-3 w-full'>
        {links
          .filter((link) => !link.primary)
          .map((link) => (
            <LinkButton
              href={link.absoluteUrl ? link.href : `/${link.slug}`}
              text={link.text}
              icon={Icons[link.icon as keyof typeof Icons]}
              highlight={link.highlight}
            />
          ))}
      </div>
    )
  }
  {
    links.some((link) => link.primary) && (
      <div class='flex flex-row w-full justify-center gap-2'>
        {links
          .filter((link) => link.primary)
          .map((link) => (
            <LinkButton
              href={link.absoluteUrl ? link.href : `/${link.slug}`}
              text={link.text}
              icon={Icons[link.icon as keyof typeof Icons]}
              primary
            />
          ))}
      </div>
    )
  }
</div>
